AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

S3_SENSOR_BUCKET=pbl5team-sensor-data
S3_KB_BUCKET=pbl5team-knowledge-base
S3_OUTPUT_BUCKET=pbl5team-output

DYNAMODB_DETECTION_TABLE=detection-results
DYNAMODB_ORDER_TABLE=purchase-orders
DYNAMODB_INVENTORY_TABLE=parts-inventory

BEDROCK_AGENT_ID=
BEDROCK_AGENT_ALIAS_ID=
BEDROCK_KB_ID=
BEDROCK_MODEL_ID=anthropic.claude-3-5-sonnet-20241022-v2:0
